doctype html
html(lang="en")
  head
    title what should i play ?
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/x-icon" href="/images/dashSenaIco.png")
    link(rel="preload" as="image" href="./images/Background.png")
    link(rel="stylesheet", href="./stylesheets/index.css")
    link(rel="stylesheet" href="/stylesheets/global.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet")
  body
    header 
      #profileCont 
        a(href = "./library")#libraryButton
          svg(viewbox='0 0 512.000000 512.000000')
            g(transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)' fill='currentColor' stroke = 'currentColor')
              path(d='M1175 4806 c-208 -31 -377 -96 -560 -215 -102 -66 -280 -247 -355\
              -361 -267 -408 -332 -927 -173 -1400 95 -283 278 -563 584 -896 226 -246 438\
              -439 1286 -1166 561 -483 556 -479 637 -464 19 4 49 19 68 34 69 55 1039 891\
              1208 1041 584 517 880 857 1064 1220 147 290 205 583 178 889 -36 390 -173\
              696 -426 947 -177 176 -371 287 -601 344 -369 91 -738 24 -1038 -190 -161\
              -114 -339 -312 -443 -491 -21 -37 -41 -68 -44 -68 -3 0 -23 31 -44 68 -104\
              179 -282 377 -443 491 -90 64 -228 136 -318 166 -168 56 -405 77 -580 51z')
        a(href = "./profile")#profileButton
          svg(viewbox='0 0 512.000000 512.000000')
            g(transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)' fill='currentColor' stroke='none')
              path(d='M2370 5113 c-371 -35 -653 -114 -961 -269 -245 -122 -444 -268 -655\
              -478 -224 -225 -366 -423 -500 -701 -158 -326 -237 -650 -251 -1020 -15 -426\
              73 -832 263 -1214 133 -269 271 -459 488 -677 221 -220 412 -357 681 -489 188\
              -92 309 -137 500 -185 196 -49 343 -70 545 -77 580 -20 1143 158 1615 511 138\
              103 379 339 477 466 496 644 663 1434 468 2210 -59 235 -182 525 -306 720\
              -197 310 -472 591 -774 791 -130 87 -410 226 -550 274 -204 70 -413 115 -625\
              135 -102 9 -333 11 -415 3z m386 -1043 c84 -22 175 -66 259 -125 138 -97 242\
              -254 291 -435 24 -90 24 -272 0 -365 -105 -400 -498 -651 -894 -569 -251 51\
              -464 226 -561 459 -132 317 -30 696 243 901 195 147 427 193 662 134z m106\
              -2045 c446 -68 836 -268 1161 -597 75 -76 127 -137 127 -148 0 -11 -52 -72\
              -127 -148 -332 -335 -735 -539 -1193 -603 -122 -17 -418 -17 -540 0 -466 65\
              -904 291 -1224 633 -53 57 -96 109 -96 118 0 22 156 187 261 276 301 255 694\
              430 1060 473 52 6 110 13 129 15 67 8 345 -4 442 -19z')
        a(href = "./profile")#loginButton Login / Sign up
    #backgroundContainer
      #slider
        img(src = "./images/Background.png").bg_img
        img(src = "./images/Background.png").bg_img
    #overlay
      h1 what should i play ?
      main
        input(type="checkbox" onclick = "saveParameters()")#advancedButton
        p#plusSymbol +
        form(action="/search", method="post", id = "main-form")
          label(for ="select-duration") How much do you wanna play :
          #select-duration-container
            input(type="text", placeholder = "...")#select-duration
            select(name = "unity")#select-unity
              option(value = "hours") hours
              option(value = "minutes") minutes
          label(for="select-genre") Genre :
          select(name="genre")#select-genre
            option(value="all", selected) All
            option(value="racing") Racing
            option(value="action") Action
            option(value="misc") Music
            option(value="puzzle") Puzzle
            option(value="adventure") Adventure
            option(value="shooter") Shooter
            option(value="sports") Sports
            option(value="platform") Platform
            option(value="strategy") Strategy
            option(value="simulation") Simulation
            option(value="fighting") Fighting
          input(type="submit", value = "Send")#submitMainform
        #advanced
          h2 Advanced Parameters
          label(for = "select-results") Max number of games to display :
          input(type = "text" placeholder = "max : 100")#select-results
          label(for = "select-#select-timeVariation") Time Allowance (%) :
          input(type = "text" placeholder = "enter a %")#select-timeVariation
      
      #quizlinkbox(style="position: absolute; z-index:2000; display:flex; align-items:end; width:100%; height:100%;")
        a(href = "./quiz")#loginButton Video Game Quiz


  script(src="./javascripts/global.js")
  script(src = "./javascripts/MainFormHandler.js")



    