doctype html
html
  head
    title WSIP - Login
    meta(name="viewport", content="width=device-width, initial-scale=1.0 minimum-scale=1.0")
    link(rel="icon" type="image/x-icon" href="/images/dashSenaIco.png")
    link(rel="stylesheet" href="/stylesheets/global.css")
    link(rel="stylesheet" href="/stylesheets/login.css")
    link(rel="stylesheet" href="/stylesheets/auth.css")
  body
    header(data-loggedStatus=user && user.length > 0 ? 'true' : 'false')
      if !user || user.length === 0
        #loginHeaderCont
          a(href = "./")#homeButton what should i play 
    
    #backgroundContainer
    #slider
        img(src = "./images/Background.png").bg_img
        img(src = "./images/Background.png").bg_img
    #overlay(style="padding-top: 15%;")
        main
            #optionSlider
            #textContainer 
                p(onclick = "activateLogin()")#login Login 
                p(onclick = "activateSignup()" class = "active")#signup Sign up
            form(id = "loginForm")
                .loginInputContainer
                    label(for = "mailInput") Mail :
                    input(type = "email" id = "mailLogin" name = "mail")
                    label(for = "passwordLogin") Password :
                    input(type = "password" id = "passwordLogin" name = "password")
                input(type = "submit" id = "submitLogin" value = "Login")
            form(action = "/signup" method = "post" id = "signupForm")
                #topFormCont 
                    .topFormInput 
                        label(for = "nameInput") Name :
                        input(type = "text" id = "nameInput" name = "name")
                    .topFormInput 
                        label(for = "surnameInput") Surname :
                        input(type = "text" id = "surnameInput" name = "surname")
                .loginInputContainer
                    label(for = "mailInput") Mail :
                    input(type = "email" id = "mailSignup" name = "mail")
                    label(for = "passwordLogin") Password :
                    input(type = "password" id = "passwordSignup" name = "password")
                input(type = "submit" id = "submitSignup" value = "Sign up")
    script(src = "./javascripts/login.js")