
body {
  background-color: rgb(0,0,3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color : whitesmoke;
}



#cardsScrollerCont {
  height : 500px;
  position: relative;
  max-width : 100vw;
  overflow: scroll;
  scroll-snap-type: x mandatory;

  /* Firefox only */
  scrollbar-width:thin;
  scrollbar-color: #45004500 #e0e0e000;
  
}

#cardsScroller {
  min-height : 500px;
  display: flex;
  flex : 0 0 auto;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: fit-content; 
  padding: 0 50%;
  
  /* transform: translateX(calc(50% - (calc(8vw + 200px)/2) - 5vw)); */
  transition: all 150ms ease-in;
}

.cards {
  opacity: 0.5;
  transform: scale(1);
  position: relative;
  border-radius: 20px;
  aspect-ratio: 264/352;
  min-width : calc(200px + 8vw);
  max-width: 300px;
  background-color: rgb(26, 26, 26);
  margin: 0 5vw;
  overflow: hidden;
  box-shadow: 0px 0px 45px rgb(108, 0, 108);
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  transition: all 150ms ease-in;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

 /* Obsolete as we use a slider */
.btn {
  position: absolute;
  top : calc(50% - 30px);
  height : 15px;
  width : 15px;
  border-left : solid 8px #696969;
  border-top : solid 8px #696969;
  cursor: pointer;
  z-index: 10;
  transition: all 150ms ease-in;
  opacity: 0.6;
}

 /* Obsolete as we use a slider */

#leftArrow:hover {
  transform: scale(1.2) rotate(-45deg);
  opacity: 1;
}

 /* Obsolete as we use a slider */

#rightArrow:hover {
  transform: scale(1.2)  rotate(135deg);
  opacity: 1;
}

 /* Obsolete as we use a slider */

.btn.inactive {
  border-color : #282828;
}

 /* Obsolete as we use a slider */

.btn:first-of-type {
  transform: rotate(-45deg);
  left : calc(50vw - calc(100px + 4vw) - 40px);
  display: none;
}

 /* Obsolete as we use a slider */

.btn:last-of-type {
  transform: rotate(135deg);
  right : calc(50vw - calc(100px + 4vw) - 40px);
}

.mainCard {
  opacity: 1;
  transform: scale(1);
}

.TL-cont {
  margin: 0;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  transition: all 300ms ease-in;
  z-index: 2;
  display : flex;
}

.likeButtonCont{
  display : flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.likeButton {
  height : 22px;
  aspect-ratio: 1/1;
  margin-right : 9px; 
  z-index: 2;
  opacity: 0;
}

.likeButton:hover {
  cursor: pointer;
}

.heart {
  width : 22px;
  height : 22px;
  position: absolute;
  left : 1px;
  z-index: 1;
  color : rgba(0, 0, 0, 0.489);
  transition: all 150ms ease-in;
  color : rgba(66, 66, 66, 0.571);
  
}

.likeButtonCont:has(.likeButton:hover) .heart{
  transform: scale(120%);
}

.likeButtonCont:has(.likeButton:checked) .heart {
  color : rgba(241, 1, 1, 1);
  animation: bounce 150ms ease-in 1 both;
}

.TL-cont p {
  margin: 0;
  padding: 6px 10px;
  background-color: rgb(214, 0, 0);
  font-size: calc(0.8rem + 0.6vw);
  font-weight: 700;
  font-family: "Roboto Mono", monospace;
  color: whitesmoke;
  border-radius: 20px;
}

.mainCard:hover .TL-cont {
  opacity: 1;
}

.mainCard:hover .cardTop {
  height : 50%;
  background-size:contain;
  border-radius: 0;
}

.card-img-container {
  background-image: url("../images/No_Cover.png");
  background-size:cover;
  background-repeat: no-repeat;
  height : 100%;
  width : 100%;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  transition: all 300ms ease-in;
}

.cardTop {
  position: relative;
  border-radius: 20px 20px 0 0;
  transition: all 300ms ease-in;
  height : 100%;
  width : 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in;
}


.cardTop h3 {
  position: absolute;
  bottom: 0px;
  left : 0px;
  color : white;
  background-color: rgba(49, 49, 49, 0.9);
  padding: 8px;
  border-radius: 0 8px 0 0;
  font-size: calc(0.7rem + 0.6vw);
  margin: 0;
}

.cardInfos {
  transition: all 300ms ease-in;
  color: white;
  padding : 10px;
  max-height: 50%;
}

.empty {
  color : whitesmoke;
  text-align: center;
}

.cards:hover .cardInfos {
  overflow-y: scroll;
}

.infosBubblesCont {
  display: flex;
  flex-wrap: wrap;
}

.infoBubble {
  color : rgb(12, 0, 46);
  padding : 6px 9px;
  background-color: azure;
  border-radius: 15px;
  margin : 5px 5px;
  font-size: calc(0.6rem + 0.4vw);
}

.storyline {
  font-size: calc(0.6rem + 0.4vw);
}


#saddino {
  aspect-ratio: 1/1;
  width : 30vw;
}

@keyframes bounce {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.6);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
  
}

@media (max-width : 450px) {
  h1 {
    margin-top: 80px;
  }

  .btn {
    border-left : solid 8px whitesmoke;
    border-top : solid 8px whitesmoke;
    opacity: 0.8;
  }
}

