* {
  margin : 0;
  padding: 0;
}

body {
  background-color: rgb(0,0,3);
  overflow: hidden;
}

main {
  position: relative;
  display: flex;
}

#trash-icon {
  color: red;
  display: none;
  right : calc(35vw - 10px);
  top : 10px;
  z-index: 100;
  aspect-ratio: 1/1;
  height : 20px;
  position: absolute;
  transition: all 150ms ease-in;
}

#trash-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}


#edit-icon {
  color : rgb(88, 73, 88);
  aspect-ratio: 1/1;
  height : 20px;
  position: absolute;
  right : calc(35vw - 10px);
  top : 10px;
  z-index: 100;
  transition: all 150ms ease-in;
}

#edit-icon:hover {
  transform: scale(1.1);
  color : rgb(208, 1, 84);
  cursor: pointer;
  
}


#card-section {
  height : calc(100vh - 50px);
  width : 65vw;
}

#card-scrollable {
  overflow-y: scroll;
  width: 100%;
  max-height: calc(100vh - 50px);
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  scrollbar-width: none;
}

#card-scrollable::-webkit-scrollbar {
  display : none;
}

#display-card {
  margin-top: 20px;
  width : 35vw;
  height : calc(100vh - 50px);
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
}

#main-card {
  width : 90%;
  height : 100%;
  overflow-y: scroll;
  transform: translateY(100%);
  transition: all 300ms ease-in;
  opacity: 0;
}

.active {
  transform: translateY(0%) !important;
  opacity: 1 !important;
}

#card-img-container {
  width : 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 20px;
}

#card-img {
  background-image: url("../images/No_Cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 300px;
  width : 27vw;
  aspect-ratio: 264/352;
  border-radius: 20px;
}

#main-card h3 {
  color: whitesmoke;
  font-size: calc(1rem + 0.8vw);
  text-align: center;
  margin: 10px 0;
}


#main-card-infos{
  transition: all 300ms ease-in;
  color: white;
  padding : 10px;
}

#infosBubblesCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.infoBubble {
  color : rgb(12, 0, 46);
  font-size: calc(0.6rem + 0.6vw);
  padding : 8px 11px;
  background-color: azure;
  border-radius: 15px;
  margin : 7px 7px;
}

#storyline {
  margin: 20px 0 40px 0;
  text-align: justify;
  color: whitesmoke;
  font-size: calc(0.6rem + 0.6vw);
}


.fav-card {
  position: relative;
  aspect-ratio: 264/352;
  min-width: 110px;
  width : 10vw;
  background-color: rgb(255, 141, 215);
  border-radius: 20px;
  margin : 20px 15px;
  overflow: hidden;
  opacity: 0.4;
  transition: all 150ms ease-in;
}

.selected::before {
  position: absolute;
  content: '';
  top :0;
  bottom : 0;
  left : 0;
  right : 0;
  background-color: rgba(0, 187, 249, 0.444);
}

.fav-card:hover{
  opacity: 0.6;
  transform: scale(1.1);
  cursor:pointer;
}

.selected:has(input[type="checkbox"]:checked) {
  opacity: 1;
  transform: scale(1.1);
}



.fav-card:not(.selected):has(input[type="checkbox"]:checked) {
  opacity: 1;
  transform: scale(1.2);
}

.fav_cover {
  background-image: url("../images/No_Cover.png");
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
  width : 100%;
}

.deleteButton {
  position: absolute;
  width : 100%;
  height : 100%;
  top : 0;
  left : 0;
  opacity: 0;
}

.deleteButton:hover {
  cursor: pointer;
}

@media (min-width : 651px) {
  #display-card::after {
    position: absolute;
    content: '';
    display: block;
    width: 2px;
    height: 60%; 
    background-color: rgba(69, 0, 69);
    top : 10px;
    bottom: 10px;
    left : 0px;
    margin: auto;
  }

  main {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width : 650px) {

  body {
    overflow-y: scroll;
  }

  main {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: start;
  }

  #card-section::before {
    position: absolute;
    content: '';
    display: block;
    height: 3px; 
    background-color: rgba(69, 0, 69);
    top: 0px;
    left : 15vw;
    right : 15vw;
    margin-top: 5px;
  }

  #card-scrollable {
    justify-content: center;
    max-height: none;
  }

  #display-card {
    width : 100%;
    max-height : 400px;
    overflow-y: scroll;
  }
  #display-card:not(.active) {
    overflow-y: hidden;
  }

  #card-section {
    position: relative;
    padding-top: 20px;
    background-color: rgb(0,0,3);
    width: 100%;

  }

  #edit-icon, #trash-icon {
    right: 20px;
  }
}




